html {
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  /*background-image: -webkit-radial-gradient(50px 50px, circle cover, #fff, rgba(255,255,255,0) 10px), -webkit-linear-gradient(top, #000, #3C4991);
  background-size: 100px 100px, 100% 100%; */
}

figure, img {
  -webkit-user-select: none;
}

.reveal * {
  border: solid 1px red;
}

body, input {
  font-family: 'Annie Use Your Telescope';
}

input {
  font-size: 1em;
}

figure {
    display: inline-block;
    height: 225px;
    min-width: 450px;
    /*max-width: 600px;*/
    overflow: hidden;
    margin: 0;
    padding: 22px 29px 22px 37px;
    background: 50% 50% no-repeat;
    position: relative;
    top: 0;
    left: 0;
  z-index: -1;
  -webkit-transition-property: top, left;
  -webkit-transition-duration: 1s;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;

  -webkit-transition: all .4s ease-in-out;
}

figure.flip {
  -webkit-transform: rotateY(180deg);
}

figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 25px 31px 24px 37px;
    /*-moz-border-image: url(frame.png) 25 31 24 37 stretch;
    -webkit-border-image: url(frame.png) 25 31 24 37 stretch;
    -o-border-image: url(frame.png) 25 31 24 37 stretch;
    border-image: url(frame.png) 25 31 24 37 stretch;*/
}

figcaption {
  position: absolute;
  bottom: 150px;
  left: 240px;
  text-align: center;
  font-family: serif;
  font-size: 11px;
  white-space: nowrap;
  -webkit-animation: swing ease-in-out 2s infinite;
}
figcaption span {
    background: #EEECCC;
    border: solid 1px #333;
    padding: 2px 20px;
    border-radius: 3px;
    position: relative;
}
figcaption span::before,
figcaption span::after {
    content: "";
    width: 2px;
    height: 2px;
    position: absolute;
    border-radius: 2px;
    top: 50%;
    margin-top: -1px;
}
figcaption span::before {
    left: 10px;
}
figcaption span::after {
    right: 10px;
}

figure img {
  width: 150px;
  height: 225px;
  display: inline-block;
  float: left;
  -webkit-transition-property: webkitTransform;
  -webkit-transition-duration: 2s;
}

.bubble::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  background: #ddd;
  bottom: -10px;
  left: -10px;
}

.bubble::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  background: #ddd;
  bottom: -20px;
  left: -20px;
}

.bubble {
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  opacity: 1;
  display: block;
  float: left;
  width: auto;
  max-width: 120px;
  text-align: center;
  background: #ddd;
  margin-right: 20px;
  position: relative;
  bottom: -35px;
  left: 10px;
  padding: 1em;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,.4);
}

.hidden {
  opacity: 0;
}

@-webkit-keyframes swing {
  0%   {-webkit-transform: rotate(-1deg) translate(-50%, -50%); }
  50%  {-webkit-transform: rotate(1deg) translate(-50%, -50%); }
  100% {-webkit-transform: rotate(-1deg) translate(-50%, -50%); }
}