@import url(http://fonts.googleapis.com/css?family=Oregano&subset=latin,latin-ext);

body {
  background: rgb(188,226,247);
}

section {
  background: rgb(235,220,152);
  padding: 1em;
  font-family: 'Oregano', Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 50px;
  font-size: 1.5em;
}

h2 {
  background: rgba(255,255,255,.5);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: rgba(255,255,255,.5);
  margin: 10px 0;
  padding: 5px;
}