body {
  background: beige;
}

div {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

div > div {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: .5s;
  -webkit-transform: scale(.6);
}

div:hover {
  -webkit-transform: scale(1);
}

#soul {
  background: url(soul.png) center center no-repeat;
}

div > #soul {
  -webkit-transform-origin: 90% 0%;
}

#needle {
  background: url(needle.png) center center no-repeat; 
}

div > #needle {
  -webkit-transform-origin: 50% 60%;
}

#egg {
  background: url(egg.png) center center no-repeat; 
}

div > #egg {
  -webkit-transform-origin: 80% 60%;
}

#duck {
  background: url(duck.png) left bottom no-repeat;
}

div > #duck {
  -webkit-transform-origin: 20% 90%; 
}

#rabbit {
  background: url(rabbit.png) center center no-repeat;
}